{% extends "base.html" %} {% block menu %} {% endblock menu %} {% block content %}
  <div class="ui inverted vertical masthead center aligned segment glass-segment">
    
    <div class="ui text container">
      <h1 class="ui masthead inverted header">Welcome!</h1>
      <h2>TaskManager</h2>
      <h3>Create, track, and manage tasks—all in one place.</h3>
    </div>

    <div class="cta">
      <a class="ui primary button" href="{% url 'accounts:registry' %}"
        >Registration</a
      >
      <a class="ui primary button" href="{% url 'accounts:login' %}">Login</a>
    </div>
  </div>
</div>
{%endblock content%}
