{% extends "base.html" %} {% block content %}
<div class="ui container" style="padding: 20px">
  <div class="ui centered-header">
    <h1 class="ui center aligned header">
      Welcome! Add, Complete, and Conquer Your Tasks
    </h1>
  </div>

  <form action="{% url 'todolist:add' %}" method="post">
    {% csrf_token %}
    <div class="ui action input input_style">
      <input
        type="text"
        name="task_name"
        placeholder="enter the task name"
        required
      />
      <button type="submit" class="ui primary button">add</button>
    </div>
  </form>

  <div class="ui vertical center aligned segment">
    <div class="ui three column grid">
      {% with stats=user.profile.task_stats %}
      <div class="column">
        <div class="number-task">{{ stats.total }}</div>
        <div>All task</div>
      </div>
      <div class="column">
        <div class="number-task">{{ stats.completed }}</div>
        <div>Completed tasks</div>
      </div>
      <div class="column">
        <div class="number-task">{{ stats.not_completed }}</div>
        <div>In process</div>
      </div>
    </div>

    {% endwith %}


    <div class="ui text container ui segment transparent-segment" style="padding-right: 2px">
      {% for task in tasks %}

      <div class="flex-container">
        {% if not task.is_complete %}
        <div class="task-title">
          {{ task.title }}
          <div class="ui divider"></div>
        </div>

        <form action="{% url 'todolist:update' task.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="positive tiny ui button">
            complete
          </button>
        </form>

        <form action="{% url 'todolist:delete' task.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="negative mini ui button">delete</button>
        </form>

        {% else %}
        <div class="task-title">
          <del>{{ task.title }}</del>
          <div class="ui divider"></div>
        </div>

        <form action="{% url 'todolist:update' task.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="tiny ui button">cancel</button>
        </form>

        <form action="{% url 'todolist:delete' task.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="negative mini ui button">delete</button>
        </form>

        {% endif %}
      </div>
      {% empty %}
      <p>task list is empty</p>

      {% endfor %}
    </div>
  </div>
  {% endblock content %}
</div>
