
.input_style {
    width: 100% ;
    box-sizing: border-box ;
    padding-top: 50px;
    padding-bottom: 20px;
}   


.ui.header {
    padding: 50px;
}

.task-title {
    width: 500px; 
    word-wrap: break-word;
    
}
.task-title-recent {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.flex-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.ui.small.menu {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 20px;
}

