
/* Style for input */
.input_style {
    width: 100% ;
    box-sizing: border-box ;
    padding-top: 50px;
    padding-bottom: 20px;
}   

/* Centering the segment content */
.ui.segment {
    position: relative;
    text-align: center;
}
/* Button of the right center of the block */
.right-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
/* Indent around the header */
.ui.header {
    padding: 50px;
}
/* Task title: fixed width, word hyphenation */
.task-title {
    width: 500px; 
    word-wrap: break-word;
}
/* Flexible container: distribution of element across the width   */
.flex-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
