{% extends "base.html" %} {% block content %}
<div class="ui container" style="padding: 20px">
  <div class="ui segment centered-header">
    <h1 class="ui header">
      <i class="user circle icon"></i>
      User profile
    </h1>
  </div>
  <div class="ui stackable two column grid">
    <div class="column">
      <div class="ui raised segment">
        <div class="ui center aligned basic segment">
          <img src="" alt="Avatar" />
          <h2>{{ user.get_full_name }}</h2>
          <p>@{{ user.username }}</p>
        </div>
        <div class="ui horizontal divider">Personal information</div>
        <div class="ui relaxed list" style="text-align: left">
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <strong>Name: </strong>{{ user.first_name }}
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <strong>Last name: </strong>{{ user.last_name }}
            </div>
          </div>
          <div class="item">
            <i class="mail icon"></i>
            <div class="content"><strong>Email: </strong>{{ user.email }}</div>
          </div>
          <div class="item">
            <i class="calendar icon"></i>
            <div class="content">
              <strong>Data of registration</strong>{{ user.last_login }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3 class="ui header">
          <i class="chart bar icon"></i>
          Task statistics
        </h3>
        <div class="ui three column grid">
          <div class="column">
            <div class="number-task">0</div>
            <div>All task</div>
          </div>
          <div class="column">
            <div class="number-task">0</div>
            <div>Completed tasks</div>
          </div>
          <div class="column">
            <div class="number-task">0</div>
            <div>In process</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3 class="ui header">
          <i class="settings icon"></i>
          Settings
        </h3>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3 class="ui header">
          <i class="tasks icon" ></i>
          Last task
        </h3>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
