.page-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
  padding-top: 50px; 
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.transparent-segment {
    position: relative;
    text-align: center;
    background-color: rgba(157, 157, 157, 0.594) !important;

}
